*{
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: black;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 20px;
  background-color: #00b6b6;
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  line-height: 32px;
}
.info > h1{
  margin-bottom: 10px;
}
.info > p{
  align-content:  center;
  justify-content: center;
  margin-right: 10px;
}
.container > form{
  width: 480px;
  border: none;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  margin-top: 5%;
}
.field{
  padding: 2px;
  width: 300px;
  margin-bottom: 10px;
}
.container label {
  padding-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*
default value w input = 50 -> App.js linijka 7 
*/
.container input {
  width: 320px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 10px;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.container input:hover{
  border-color: #00b6b6;
}
/*#00e0e0*/
.error{
  color: red;
  font-size: 1rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.container button {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #00b6b6;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.container button:hover {
  background-color: #009292;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 800px) {
  .container{
    
  }
}
/*
.form-inline input {
    margin: 10px 0;
  }
  */