* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.container {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.container > form {
  width: 45%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  
}
hr.solid{
  border-top: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ui-form{
}

.field{

}
.container label {
  margin: 15px 10px 5px 0;
}
.container input {
  vertical-align: middle;
  margin: 5px 10px 5px 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.container button {
  margin: 15px;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
.container button:hover {
  background-color: royalblue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}